/* Обнуляем стили что бы можно было наложить собственные */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}
input[type="range"]:focus {
    -webkit-appearance: none;
    outline: none; /* Убрает выделение ручки ползунка, обязательно ставить */
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    width: 100%;
}
input[type="range"]::-moz-range-track {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    width: 100%;
}
input[type="range"]::-moz-range-thumb {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
}
/* Накладываем собственные стили */
input[type="range"]::-ms-fill-lower {
    background-color: #2f3032;
    border-radius: 7px;
    border: 1px;
}
input[type="range"]::-ms-fill-upper {
    background-color: #2f3032;
    border-radius: 7px;
    border: 1px;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #2f3032;
    border-radius: 7px;
    border: 1px solid #2f3032;
    height: 4px;
}
input[type="range"]::-webkit-slider-thumb {
    background-color: #2f3032;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    box-shadow: 0 0 1px 1px #2f3032;
    height: 20px;
    width: 20px;
    margin-top: -8px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    outline: none;
    background-color: #2f3032;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    box-shadow: 0 0 1px 1px #2f3032;
    height: 20px;
    width: 20px;
    margin-top: -8px;
    cursor: pointer;
}
input[type="range"]::-moz-range-track {
    outline: none;
    background-color: #2f3032;
    border-radius: 7px;
    border: 1px solid #2f3032;
    height: 4px;
}
input[type="range"]::-ms-track {
    background-color: #2f3032;
    border-radius: 7px;
    border: 1px solid #2f3032;
    height: 4px;
}
input[type="range"]::-ms-thumb {
    background-color: #2f3032;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    box-shadow: 0 0 1px 1px #2f3032;
    height: 20px;
    width: 20px;
    margin-top: -8px;
    cursor: pointer;
}